.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo img{
    width: 70px;
    height: 70px;
}

.navbar h1 {
    margin-left: 10px;
    font-size: 30px;
}
.button-container {
    display: flex;
    align-items: center;
    position: relative;
}

.menu {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    opacity: 0; /* Menu jest na początku całkowicie przezroczyste */
    visibility: hidden; /* Menu jest także niewidoczne */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Animacja dla przezroczystości i widoczności */
    position: absolute;
    top: 0;
    right: 0; /* Start w tym samym miejscu co navbar */
}

.menu.open {
    opacity: 1; /* Menu staje się całkowicie nieprzezroczyste */
    visibility: visible; /* Menu staje się widoczne */
}

.navbar-button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.navbar-button:hover {
    background-color: yellow;
}

.navbar-button img {
    width: 25px;
    height: 25px;
    margin-bottom: -7px;
    margin-left: -2px;
}

@media screen and (max-width: 768px) {
    .menu .open{
        display: flex;
        flex-direction: row;
        transform: translateX(0);
        position: relative;
        top: -10px;
        left: 50px;
    }

    .button-container {
        display: none;
    }
}