/* Styl dla paska bocznego */
aside {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 200px;
}

aside h2 {
    margin-top: 0;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside button{
    margin-left: 25px;
}