/* Styl dla paska bocznego */
aside {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 300px;
}

aside h2 {
    margin-top: 0;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 3px 2px 4px white;
    border-radius: 5px;
}

aside button{
    margin-left: 65px;
}

@media screen and (max-width: 768px) {
    aside {
        width: 40%;
        font-size: 12px;
    }

    aside button{
        margin-left: 15px;
        width: 140px;
        height: 40px;
        font-size: 12px;
        text-align: center;
    }
}