body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #666666;
}

.high-contrast {
  color: #FFFF00 !important;
  background-color: #000000;
}

.high-contrast .sidebar{
    color: #FFFF00 !important;
    background-color: #000000;
}

.high-contrast .sidebar button{
  color: #FFFF00 !important;
  background-color: #000000;
}

.high-contrast .sidebar button:hover{
  background-color: #FFFF00 !important;
  color: #000000 !important;
}

.high-contrast .main-content {
  color: #FFFF00 !important;
  background-color: #333 !important;
}

.high-contrast .main-content button{
  color: #FFFF00 !important;
  background-color: #FFFF00 !important;
}

.high-contrast .main-container .navbar button{
  background-color: #FFFF00 !important;

}

.high-contrast .search input {
    color: #FFFF00 !important;
}

.high-contrast .navbar h1{
  color: #FFFF00 !important;
}

.high-contrast .search .dataItem{
  color: #FFFF00 !important;
}

.high-contrast *,
.high-contrast a {
  color: inherit;
}

.app.light {
  background-color: #fff;
  color: #000;
}

.app.light .search .navbar{
  background-color: green;
  color: #000;
}

.app.dark .sidebar .search .navbar .main-content {
  background-color: green;
  color: #fff;
}

.app.dark button{
  background-color: gray;
  color: black;
  font-size: 20px;
}

.app.dark button:hover{
  background-color: white;
  color: black;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}
